/* This CSS takes a mobile-first approach */
:root {
    --purple: purple;
    --white: white;
    --border-color: white;
    --background-color: #222;
}

* {
    font-size: 24px;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-size: 400%;
}

/* TODO: Make the body background-color grey */
body {
    background-color: var(--background-color);
}

header h1 {    
    text-align: center;
    color: var(--purple);
}

header p {    
    text-align: center;
    color: var(--white);
}

.card-container {
    display: flex;
}

.card {    
    position: relative;
    flex: 100%;
    border-style: dashed;
    border-color: var(--border-color);
}

.card-header {
    position: relative;
    font-size: 200%;
    color: var(--purple);
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--border-color);
    margin: -20px 10px 0;
    border-radius: 10px;
}

.card-description {
    color: var(--purple);
    margin: 10px 10px;
}

.card-code {    
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--white);
}

/* Tablet-specific elements */
@media screen and (min-width: 768px) {

}

/* Desktop-specific elements */
@media screen and (min-width: 992px) {

}